---
import { navItems } from "../../lib/utils/navItems.js";
import PhoneIcon from "../../assets/icons/phone.svg";
import EmailIcon from "../../assets/icons/email.svg";
import LocationIcon from "../../assets/icons/location.svg";
import { socialMediaItems } from "../../lib/utils/socialMediaItems.js";
import Copyright from "./Copyright.jsx";
---

<footer class="bg-primary w-full text-white">
  <div class="mx-auto max-w-7xl px-8 py-4">
    <div
      class="grid grid-cols-1 gap-4 text-left md:grid-cols-4 md:gap-8 md:text-justify"
    >
      <div>
        <h4 class="text-2xl text-white">Nuestra Empresa</h4>
        <p class="mt-2 text-gray-300 md:mt-4">
          Somos una empresa dedicada a proporcionar soluciones innovadoras para
          tu negocio. Nuestro compromiso es ayudarte a alcanzar tus metas.
        </p>
      </div>

      <div>
        <h4 class="text-2xl text-white">Mapa del Sitio</h4>
        <div class="mt-2 flex flex-col gap-4 text-gray-300 md:mt-4">
          {
            navItems.map((link) => (
              <a
                aria-label={link.label}
                href={link.url}
                class="inline-block w-fit hover:opacity-80"
              >
                {link.title}
              </a>
            ))
          }
        </div>
      </div>

      <div>
        <h4 class="text-2xl text-white">Contacto</h4>
        <div class="mt-2 flex flex-col gap-4 text-gray-300 md:mt-4">
          <span class="flex items-center gap-2"
            ><img
              src={EmailIcon.src}
              alt=""
              aria-hidden="true"
              class="h-5 w-5 shrink-0"
            /><a
              href="mailto:g.cardenas@trebol.com"
              class="truncate"
              title="g.cardenas@trebol.com">g.cardenas@trebol.com</a
            ></span
          >
          <span class="flex items-center gap-2"
            ><img
              src={PhoneIcon.src}
              alt=""
              aria-hidden="true"
              class="h-5 w-5 shrink-0"
            /><p>+52 33 3233 4293</p></span
          >
          <span class="flex items-center gap-2"
            ><img
              src={LocationIcon.src}
              alt=""
              aria-hidden="true"
              class="h-5 w-5 shrink-0"
            /><p>
              Av. Patria 288, Jardines de la Patria, Zapopan, Jalisco. CP.
              45110.
            </p></span
          >
        </div>
      </div>

      <div>
        <h4 class="text-2xl text-white">Síguenos</h4>
        <div class="mt-2 flex gap-4 md:mt-4">
          {
            socialMediaItems.map((item) => (
              <a
                href={item.url}
                aria-label={item.label}
                class="transition-all duration-300 hover:scale-105 hover:opacity-80"
              >
                <img
                  src={item.icon.src}
                  alt=""
                  aria-hidden="true"
                  class="h-10 w-10 object-contain"
                />
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <Copyright client:load />
  </div>
</footer>
