---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/layout/Hero.astro";
import FaqDropdown from "../components/ui/FaqDropdown.astro";

const pageTitle = "FAQ'S";
const heroText = "Preguntas Frecuentes";
const typewriterText = "¡En aion® lo hacemos posible!";
const typewriterSpeed = 80;
const typewriterPause = 1000;

const faqItems = [
  {
    id: 0,
    question: "¿Quiénes son nuestros clientes?",
    answer:
      "Mantenemos un acuerdo de confidencialidad con nuestros clientes, por lo cual no revelamos su información, marcas ni productos.",
  },
  {
    id: 1,
    question: "¿Por qué comprar con nosotros?",
    answer:
      "aion® es líder en la fabricación de suplementos alimenticios en México. “Desarrollamos socios de suplementos alimenticios para el bienestar físico y mental de toda la familia, a través de productos responsables con nuestra comunidad y el medio ambiente.”",
  },
  {
    id: 2,
    question:
      "¿Tienes una idea de producto, pero no sabes qué ingredientes utilizar?",
    answer:
      "Te ayudamos a preparar una formulación personalizada que se alinee con tus requerimientos.",
  },
  {
    id: 3,
    question: "¿Conoces la formulación, pero no sabes cómo presentarla?",
    answer:
      "Desarrollamos la presentación y la imagen de tu producto para que destaque en el mercado. Tu formulación será confidencial y podemos maquilarla en nuestro Creativo Lab, Centro de Ingeniería y Planta de Producción.",
  },
];
---

<BaseLayout pageTitle={pageTitle}>
  <Hero
    heroText={heroText}
    typewriterText={typewriterText}
    typewriterSpeed={typewriterSpeed}
    typewriterPause={typewriterPause}
  />
  <section class="animate-fade-in mx-auto max-w-7xl px-8 py-4">
    <h2 class="mt-4 text-center text-2xl font-bold">
      ¿Tienes dudas? Encuentra aquí las respuestas
    </h2>
    <div class="mt-6 mb-6 flex flex-col items-center gap-4 md:mt-8 md:gap-6">
      {
        faqItems.map((item) => (
          <FaqDropdown question={item.question} answer={item.answer} />
        ))
      }
    </div>
  </section>
</BaseLayout>
