---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/layout/Hero.astro";
import CheckIcon from "../assets/icons/check.svg";
import FlipCard from "../components/ui/FlipCard.astro";
import FeatureImage1 from "../assets/images/feature1.jpg";
import BackFeatureImage1 from "../assets/images/backFeature1.png";
import FeatureImage2 from "../assets/images/feature2.jpg";
import BackFeatureImage2 from "../assets/images/backFeature2.png";
import FeatureImage3 from "../assets/images/feature3.jpg";
import BackFeatureImage3 from "../assets/images/backFeature3.png";
import CustomerOpinion from "../components/ui/CustomerOpinion.astro";
import BottomBanner from "../components/layout/BottomBanner.astro";

const pageTitle = "Inicio";
const heroText = "Trébol - Colecciones, dispositivos electrónicos y más";
const typewriterText = "Conseguimos todo lo que necesitas";
const typewriterSpeed = 80;
const typewriterPause = 1000;
const bannerTitle = "¿Listo para empezar?";
const bannerText =
  "Únete a miles de empresas que ya están transformando su negocio con aion®.";
const bannerButtonText = "Solicita una cotización";

const argumentItems = [
  [
    "Su visión, nuestra misión",
    "Calidad garantizada en todo momento",
    "Laboratorio propio de Desarrollo de Nuevos Productos",
    "Servicio y atención personalizada",
  ],
  [
    "Innovación en cada producto",
    "Más de 3 décadas de experiencia",
    "Centro de Ingeniería de pruebas propio",
    "Ofrecemos un paquete completo en tus maquilas",
  ],
  [
    "Proceso ágil y eficiente",
    "Instalaciones Certificadas",
    "Laboratorio de análisis de Calidad Propio",
  ],
];

const featureCards = [
  {
    id: 0,
    frontImage: FeatureImage1,
    frontImageAlt: "Feature image 1",
    backText:
      "Nuestra Experiencia y Reputación: 5 décadas en el mercado, pioneros en suplementos alimenticios.",
    backImage: BackFeatureImage1,
    backImageAlt: "Back feature image 1",
  },
  {
    id: 1,
    frontImage: FeatureImage2,
    frontImageAlt: "Feature image 2",
    backText:
      "Capacidad de Innovación: Desarrollo de nuevos productos y fórmulas innovadoras.",
    backImage: BackFeatureImage2,
    backImageAlt: "Back feature image 2",
  },
  {
    id: 2,
    frontImage: FeatureImage3,
    frontImageAlt: "Feature image 3",
    backText:
      "Flexibilidad en Producción: Capacidad para adaptar fórmulas y volúmenes según las necesidades del cliente.",
    backImage: BackFeatureImage3,
    backImageAlt: "Back feature image 3",
  },
];

const customerOpinions = [
  {
    id: 0,
    name: "Sra. Teresa Jara Lugo - Cofundadora de CaroFit",
    comment:
      '"En Productos CaroFit hemos encontrado en el equipo de Pasiguaro (ahora aion®) un gran aliado para desarrollar nuestra línea de suplementos. Desde el colágeno hasta cada uno de nuestros productos, hemos trabajado juntos para asegurar la calidad y efectividad que nuestros clientes esperan. Nos sentimos respaldados en cada paso del proceso, con un equipo profesional y comprometido que entiende nuestras necesidades. Es un gusto trabajar con personas que comparten nuestra visión de bienestar y que aportan tanto valor a nuestro proyecto."',
  },
  {
    id: 1,
    name: "Dra. Anavic Gamiño Cervantes - CEO de productos Nutrición Avanzada 2000",
    comment:
      '"Pasiguaro, ahora aion® estuvo presente en el desarrollo y en el crecimiento de nuestra empresa desde un principio con los estudios básicos de Formulación y Tabla Nutrimental para nuestras etiquetas y posteriormente nos acompañaron en nuestro proceso de crecimiento cuando tuvimos que aumentar, duplicar y triplicar nuestra producción cuidaron de todos los temas de contaminación de las líneas de manufactura para que nuestro producto pudiera ser 100% confiable."',
  },
  {
    id: 2,
    name: "Joseana Cyntia Garcia Sanchez - Kukamonga",
    comment:
      '"Pasiguaro (ahora aion®) ha desempeñado un papel fundamental en nuestra empresa, asumiendo una parte significativa de los procesos productivos. Su colaboración nos ha permitido reducir costos y alcanzar nuestros objetivos de manera eficiente. Confiar en su profesionalismo y en su compromiso ha sido clave para nuestro éxito y ha marcado el rumbo de nuestro crecimiento. ¡Gracias por ser un aliado estratégico!"',
  },
  {
    id: 3,
    name: "Lic. Lidia García - Directora General de Holistic Life",
    comment:
      '"Con Pasiguaro ahora aion® encontré un aliado profesional y confiable para mi negocio; con el trayecto de los años hemos logrado el desarrollo de diversas formulaciones de alta calidad, innovadores y funcionales, cubriendo siempre nuestras expectativas. Considero a aion® como sinónimo de Confianza."',
  },
];
---

<BaseLayout pageTitle={pageTitle}>
  <Hero
    heroText={heroText}
    typewriterText={typewriterText}
    typewriterSpeed={typewriterSpeed}
    typewriterPause={typewriterPause}
  />
  <section class="animate-fade-in mx-auto max-w-7xl px-8 py-4">
    <h2 class="mt-4 text-center text-2xl font-bold">
      ¿Por qué elegirnos para maquilar tus productos?
    </h2>
    <div class="mt-6 grid grid-cols-1 gap-4 md:mt-8 md:grid-cols-3 md:gap-6">
      {
        argumentItems.map((column) => (
          <ul class="flex flex-col gap-4">
            {column.map((text) => (
              <li class="flex items-center gap-2 text-lg">
                <img
                  src={CheckIcon.src}
                  alt=""
                  aria-hidden="true"
                  class="h-6 w-6"
                />
                {text}
              </li>
            ))}
          </ul>
        ))
      }
    </div>
  </section>

  <section
    class="timeline-view animate-blurred-fade-in animate-range-entry mx-auto max-w-7xl px-8 py-4"
  >
    <h2 class="text-center text-2xl font-bold">Características principales</h2>
    <div
      class="mt-8 grid grid-cols-1 justify-items-center gap-6 md:grid-cols-3 md:gap-8"
    >
      {
        featureCards.map((card) => (
          <FlipCard
            frontImage={card.frontImage}
            frontImageAlt={card.frontImageAlt}
            backImage={card.backImage}
            backText={card.backText}
            backImageAlt={card.backImageAlt}
            class="h-150 w-full max-w-100"
          />
        ))
      }
    </div>
  </section>

  <section
    class="timeline-view animate-blurred-fade-in animate-range-entry mx-auto max-w-7xl px-8 py-4"
  >
    <h2 class="text-center text-2xl font-bold">
      Lo que opinan nuestros clientes
    </h2>
    <div
      class="mt-8 mb-6 grid grid-cols-1 justify-items-center gap-6 md:grid-cols-3 md:gap-8"
    >
      {
        customerOpinions.map((customer) => (
          <CustomerOpinion name={customer.name} comment={customer.comment} />
        ))
      }
    </div>
  </section>

  <BottomBanner
    bannerTitle={bannerTitle}
    bannerText={bannerText}
    bannerButtonText={bannerButtonText}
  />
</BaseLayout>
